<!DOCTYPE html>
<html>
    <head>
        <div>
        <title>GPA Calculator</title>
        </div>
        <link rel ="stylesheet" type= "text/css" href="css/style.css">
    </head>
    <body class=home>
        <h1 class=head>Welcome to GPA Calculator</h1>
        <p class=paragraph_1>  What is a GPA? A GPA is your grade point average. Your GPA is important because it plays a big factor into getting accepted into college.
        We created a calculator that will allow you to check your GPA throughout the year, so you will know if you're on track on reaching your goal.
        All you need to do is click on the GPA button and enter your grades for this semester. 
        </p>
            <br>
        <form method="post" action="/unweighted">
        <input class=button type="submit" value="GPA">
        </form>
        
        