<!DOCTYPE html>
<html>
 <head>

   <div>
   <title>Homepage</title>
   </div>
    <link rel ="stylesheet" type= "text/css" href="css/style.css">
</head>
<body class=actual_home>
   <center> 
   <h1 class=head> Welcome to College Portal</h1>
   <br>
   <h2>Find all information about undergraduate college</h1>
   <br>
   <br>
   <br>
   
   <p class=paragraphs>
    Want to find your unweighted GPA? Use our GPA Calculator
   </p>

   <form method="post" action="/GPA">
      <input class=button type="submit" value="GPA Calculator">
      </form>
      <br>
      <br>
      
      
     <p class=paragraphs> Striving for the Ivys? Figure out which Ivy Leaque is best for you! </p>
      
      <form method="post" action="/quiz">
      <input class=button type="submit" value="Quiz">
      </form>
      
    
      
      <br>
      
     
   
   </center>
   

   
  
   <h1></h1>
 </body>
</html>
