<!DOCTYPE html>
<html>

<head>
    <title>Unweighted GPA Calculator </title>
    <link rel ="stylesheet" type= "text/css" href="css/style.css">
</head>
<body class=unweighted_calc>
<h2 class=head> Calculate Your Unweighted GPA</h2>
<br>
<!--<h3>How Many Classes Did You Take?</h3>-->
<!--<select>-->
<!-- <option value="1class">1</option>-->
<!-- <option value="2class">2</option>-->
<!-- <option value="3class">3</option>-->
<!-- <option value="4class">4</option>-->
<!--</select>-->





<form method="post" action = "/input">
  <p>
Grade 1 <input type= "text" name= "Grade 1">
Grade 2  <input type= "text" name="Grade 2">
Grade 3 <input type = "text" name="Grade 3">
 Grade 4 <input type= "text" name="Grade 4">
 Grade 5<input type= "text" name="Grade 5">
  Grade 6 <input type= "text" name="Grade 6">
  <!--Grade 7 <input type= "text" name="Grade 7">-->
 <input type="submit" value="Submit">
 
  </p>  
  </form>



</body>
   
   
</html>