<!DOCTYPE html>
<html>
    <head>
      <title>Unweighted GPA Results</title> 
      <link rel ="stylesheet" type= "text/css" href="css/style.css">
    </head>
    
    <body class=results>
    <h1>Your GPA is <%=@answers.calculate%></h1>
    
   <form method="post" action="/index">
       <input class=button type="submit" value="Home">
       </form>
      <h2>What Colleges Can You Get in with your GPA</h2>
<br>
<br>
<table>
  <tr>
    <th>3.0</th>
    <th>3.1</th>
    <th>3.2</th>
    <th>3.3</th>
    <th>3.4</th>
    <th>3.5</th>
    <th>3.6</th>
    <th>3.7</th>
    <th>3.8</th>
    <th>3.9</th>
    <th>4.0</th>
  </tr>
  <tr>
    <td>Calfornia State</td>
    <td>Texas State University</td>
    <td>University of Arizona</td>
     <td>Ohio University</td>
      <td>Georgia State University</td>
      <td>Texas A&M University</td>
       <td>Penn State</td>
      <td>Rochester Institute of Technology</td>
    <td>New York University</td>
    <td>University of Michigan</td>
    <td>University of Pennslvania</td>
  </tr>
  <tr>
    <td>Alabama State</td>
     <td>Washington State University</td>
     <td>University of North Texas</td>
       <td>Georgia Southern University</td>
        <td>Howard University</td>
        <td>Louisiana State University</td>
        <td>Syracuse University</td>
          <td>University of Denver</td>
           <td>Boston University </td>
              <td>Northeastern Univerisity</td>
                 <td>Brown University</td>
                 
  <tr>
    
    
    <td>Plymouth State University</td>
   
   
    <td>San Jose State University</td>
  
    
    
    <td>University of Maine</td>
  
    
   
    <td>Texas Tech University</td>
  
    
   
    <td>University of Alabama</td>
 
  
  
    <td>University of Houston</td>
  
    
    <td>Chapman Univerisity</td>
 
  
  
    <td>Stony Brook University</td>
  
   
    <td>University of Georgia</td>
  
 
 
    <td>Georgia Tech</td>
  
   
 
    <td>Cornell University<tr>
   
  </tr>
</table>
      
      
      
       
  </body>  
    
</html>